@import './../../../variables.less';

.headerCard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: @mainFontColor;
  font-family: @mainFont;
}

.headerCard-header {
  background: @mainDark;
}

.headerCard-body {
  background: @mainMediumDark;
  overflow: auto;
}