@import './../../../variables.less';

.header {
  display: flex;
  justify-content: space-between;
}

.left-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 20px;
}

.right-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.username {
  color: @accent;
  font-size: 1.75em;
}

.logout {
  margin: 0;
  padding: 0;
}

.logo {}

.logo-main {}

.logo-sub {}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-header .tab {
  margin-left: 15px;
  padding-bottom: 5px;
  border-bottom: 3px solid @mainDark;
}

.left-header .currentTab {
  border-bottom: 3px solid @accent;
}
